@page "/"
@*<div class="">
        <div class="content-title-group not-found">
            <h2 class="title">Product Wish List</h2>
            <p>
                This project was created to help represent a fundamental app written
                with Blazor. The shopping theme is used throughout the app.
            </p>
            <br />
            <h2 class="title">Resources</h2>
            <ul>
                <li>
                    <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                        Code in GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>*@

<!-- component -->


<section class="mb-16 text-left">
    <h3 class="font-decoserif font-bold text-3xl text-laylateal mb-4">Layla Porter</h3>
    <p class="text-laylanavy text-xl mb-16">Layla is Senior Developer Evangelist at Twilio specialising in the .NET stack. She is a Microsoft MVP, a director on the board of the .NET Foundation, and co-organiser of MK .NET user group. Layla loves sharing knowledge whilst having fun. No question is stupid and beginners are always welcome.</p>
</section>

@code {

}