@page "/"

<!-- component -->
<section class="text-laylanavy body-font">
	<!-- This is an example component -->
	<div class="py-5 mx-3">
		<main class="h-full overflow-y-auto">
			<div class="container  mx-auto grid">


				<!-- Cards -->
				<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
					<!-- Card -->
					<div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md dark:bg-gray-800">
						<div class="p-3 mr-2 ">
							<img class="h-10" src="/images/icons/iconfinder_Twitter_NEW_100306.png" alt="twitter logo" />
						</div>
						<div>
							<p class="mb-2 text-md font-medium ">
								<NavLink href="https://twitter.com/LaylaCodesIt">Twitter</NavLink>
							</p>
						</div>
					</div>
					<!-- Card -->
					<div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md dark:bg-gray-800">
						<div class="p-3 mr-2 ">

							<img class="h-10" src="/images/icons/TwitchGlitchPurple.png" alt="twitch logo" />
						</div>
						<div>
							<p class="mb-2 text-md font-medium ">
								<NavLink href="https://twitch.tv/LaylaCodesIt">Twitch</NavLink>
							</p>
						</div>
					</div>
					<!-- Card -->
					<div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md dark:bg-gray-800">
						<div class="p-3 mr-2 ">

							<img class="h-10" src="/images/icons/GitHub-Mark-64px.png" />
						</div>
						<div>
							<p class="mb-2 text-md font-medium ">
								<NavLink href="https://github.com/layla-p">GitHub</NavLink>
							</p>
						</div>
					</div>
					<!-- Card -->
					<div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md dark:bg-gray-800">

						<div class="p-3 mr-2 ">

							<img class="h-10" src="/images/icons/LI-In-Bug.png" />
						</div>
						<div>
							<p class="mb-2 text-md font-medium ">
								<NavLink href="https://www.linkedin.com/in/layla-porter/">LinkedIn</NavLink>
							</p>
						</div>
					</div>
				</div>

			</div>
		</main>
	</div>
</section>
<section class="text-laylanavy body-font">
	<div class="container px-5 py-6 mx-auto">
		
		<div class="flex flex-wrap justify-between sm:-m-4 -mx-4 -mb-10 -mt-4">


			<div class="mt-3 mx-3 p-0 md:w-1/3 md:mb-0 mb-6 flex flex-col justify-top items-center max-w-sm">
				<div class="bg-gray-300 h-56 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url(images/tdd.jpg)"></div>

				<div class=" w-70 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden p-5">
					<div class="title-post font-medium">International Speaker</div>
					<div class="summary-post text-base text-justify">
						<p>My first technical talk was at the Milton Keynes JavaScript user group in 2016.I presented JavaScript templating and I remember how nervewracking it was!</p>
						<p>Since then I have spoken across Europe and North America on a variety of technical topics at both prestigious conferences and community events alike.</p>
						@*<NavLink href="/appearances" class="align-center bg-laylagold font-decoserif text-laylanavy text-bold px-2 mt-4 block rounded p-2 "><span class="">Appearances</span></NavLink>*@
					</div>

				</div>
			</div>

			<div class="mt-3 mx-3 p-0 md:w-1/3 md:mb-0 mb-6 flex flex-col justify-top items-center max-w-sm">
				<div class="bg-gray-300 h-56 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url(images/teacher.png)"></div>

				<div class=" w-70 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden p-5">

					<div class="title-post font-medium">Teacher</div>

					<div class="summary-post text-base text-justify">
						<p>I started teaching unofficially when I was 8 years old at my local riding school. I became a mathematics mentor whilst at university, helping children one on one. </p>
						<p>I returned to the equestrian sphere, coaching dressage which lead me to qualify as a PT and Pilates Instructor.</p>
						<p>I now teach tech in-person, on video, through blogs and most recently on Twitch.</p>
						@*<NavLink href="/community" class="align-center bg-laylagold font-decoserif text-laylanavy text-bold px-2 mt-4 block rounded p-2 "><span class="">Community</span></NavLink>*@
					</div>

				</div>
			</div>

			<div class="mt-3 mx-3 p-0 md:w-1/3 md:mb-0 mb-6 flex flex-col justify-top items-center max-w-sm">
				<div class="bg-gray-300 h-56 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url(images/halloween.jpg)"></div>

				<div class=" w-70 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden p-5">

					<div class="title-post font-medium">Streamer</div>

					<div class="summary-post text-base text-justify">
						<p>
							I am a technology streamer on Twitch, streaming several times a week. sharing knowledge and having fun.
						</p>
						<p>
							I am involved in the streamer community and a member of the Leadership Committee of The Live Coders, a Twitch streaming team with the shared goal to make a friendly and welcoming community for developers of all levels in any language.
						</p>
						@*<NavLink href="https://twitch.tv/laylacodesit" class="align-center bg-laylagold font-decoserif text-laylanavy text-bold px-2 mt-4 block rounded p-2 "><span class="">Layla on Twitch</span></NavLink>*@
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

@code {

}
