@page "/media"

<section class="py-12">
	<div class="container mx-auto">

		<div class="flex align-middle">
			<h1 class="text-2xl font-black text-gray-900 pb-2 pl-6 pr-4 md:pl-12">
				Appearances in the Media
			</h1>
		</div>

		<div class="flex flex-wrap px-6">
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							Business Insider
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I have been featured in Business Insider on two occasions
						</p>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.businessinsider.com/5-tips-women-career-coding-twilio-2020-8?r=US&IR=T">
									5 Tips for Women wanting to get into Code
								</NavLink>
							</div>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.businessinsider.com/how-ex-pilates-instructor-landed-coding-no-degree-2020-8?r=US&IR=T">
									How an ex-Pilates instructor landed a coding job at $37 billion Twilio without a degree
								</NavLink>
							</div>
						

					</div>
				</div>
			</div>
		
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							Computer Weekly
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I wrote a guest blog for Computer Weekly
						</p>
						<div class="text-sm font-medium text-laylateal">
							<NavLink href="https://www.computerweekly.com/blog/ITWorks/How-the-self-taught-movement-is-opening-the-door-to-a-career-in-coding">
								How the self-taught movement is opening the door to a career in coding
							</NavLink>
						</div>
					</div>

				</div>
			</div>
	
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							.NET Rocks Podcast
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I have been a guest on this popular .NET podcast twice
						</p>
						<div class="text-sm font-medium text-laylateal">
							<NavLink href="https://dotnetrocks.com/?show=1710">
								The .NET Foundation Evolves with Layla Porter
							</NavLink>
						</div>
						<div class="text-sm font-medium text-laylateal">
							<NavLink href="https://dotnetrocks.com/?show=1630">
								Visual Studio Templates with Layla Porter
							</NavLink>
						</div>
					</div>
				</div>
			</div>
		
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							.NET Docs Show
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I was a guest on this Microsoft stream run by the Docs team
						</p>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.youtube.com/watch?v=GTIsjQq-GXU&ab_channel=TheDotNetDocsShow">
									.NET Core 3.1 & Twilio ☎️ workshop with Layla Porter
								</NavLink>
							</div>
					
					</div>
				</div>
			</div>
		
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							Technology and Friends Show
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I was a guest on this vlogcast with Microsoft enigineer, David Giard
						</p>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.youtube.com/watch?v=nw9MmWebPhY&ab_channel=TechnologyandFriends">
									Layla Porter on Test Driven Development
								</NavLink>
							</div>
						
					</div>
				</div>
			</div>
		
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							Evening Standard
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							I was quoted in the following article
						</p>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.standard.co.uk/tech/how-to-learn-to-code-free-apps-and-platforms-lockdown-a4409926.html">
									How to learn to code in the lockdown: from arcade games to live-streamed classes
								</NavLink>
							</div>
						

					</div>
				</div>
			</div>
		
	
			<div class="w-full lg:w-1/2 md:px-4 lg:px-6 py-5">
				<div class="bg-white hover:shadow-xl">
					<div class="bg-gradient-to-r from-laylateal via-laylagold to-laylanavy">
						<h1 class="font-bold text-3xl text-white text-center py-4">
							Socially Responsible Recruiting
						</h1>
					</div>
					<div class="px-4 py-4 md:px-10">

						<p class="py-4">
							An interviewed by Socially Responsible Recruiting
						</p>
							<div class="text-sm font-medium text-laylateal">
								<NavLink href="https://www.sr2rec.co.uk/laylaporter/">
									"Don't try to be 'One of the lads'." - An interview with Layla Porter
								</NavLink>
							</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@code {

}
