<!-- component -->
<header>
    <NavMenu />

    <div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(../images/halloween.jpg);">
        <div class="flex object-top justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center mt-12">
                <h1 class="tracking-widest font-deco text-white text-6xl font-semibold uppercase md:text-5xl mb-0">Layla   Porter</h1>
                <h2 class=" text-white text-xl font-semibold uppercase md:text-xl block">Speaker | Teacher | Streamer</h2>
                <p class="align-center w-1/2 text-white text-xl font-semibold md:text-md mx-auto">Layla is Senior Developer Evangelist, Microsoft MVP & director on the board of the .NET Foundation.</p>
            </div>
        </div>
    </div>
</header>