<!-- component -->
<header>
    <nav class="bg-white shadow">
        <div class="container mx-auto px-6 py-3 ">
            <div class="md:flex md:items-center md:justify-between">
                <div class="flex justify-between items-center">
                    <div class="text-xl font-semibold text-gray-700">
                        <NavLink href="/" Class=" text-laylanavy-800 text-xl font-bold hover:text-laylateal-700 md:text-2xl inline-block">
                            <img class="h-8 w-8 mx-auto inline-block"
                                 src="../images/LaylaCodesItLogo.png"
                                 alt="LaylaCodesIt logo" />
                            Home
                        </NavLink>
                    </div>

                    <!-- Mobile menu button -->
                    <div class="flex md:hidden">
                        <button type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                <div class="hidden -mx-4 md:flex md:items-center">
                    <NavLink href="/about" Class="mx-4 mt-2 md:mt-0 text-sm text-laylanavy-700 capitalize hover:text-laylateal-600">About</NavLink>
                    <NavLink href="/streaming" Class="mx-4 mt-2 md:mt-0 text-sm text-laylanavy-700 capitalize hover:text-laylateal-600">Streaming</NavLink>
                    <NavLink href="/speaking" Class="mx-4 mt-2 md:mt-0 text-sm text-laylanavy-700 capitalize hover:text-laylateal-600">Speaking</NavLink>
                    <NavLink href="/community" Class="mx-4 mt-2 md:mt-0 text-sm text-laylanavy-700 capitalize hover:text-laylateal-600">Community</NavLink>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(../images/halloween.jpg);">
        <div class="flex object-top justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center mt-12">
                <h1 class="font-deco text-white text-2xl font-semibold uppercase md:text-3xl mb-0">Layla Porter</h1>
                <h2 class=" text-white text-xl font-semibold uppercase md:text-xl block">Speaker | Teacher | Streamer</h2>
            </div>
        </div>
    </div>
</header>