@inherits LayoutComponentBase
<div>   
    <div class="h-screen w-screen flex bg-gray-200">
        <NavMenu />
        <main class="flex flex-col">
            @Body
        </main>
    </div>
</div>

