@*https://codepen.io/lukebennett88/pen/qQXzwp*@

<nav class="nav flex flex-wrap items-center justify-between px-4">
    <div class="flex flex-no-shrink items-center mr-6 py-3 text-laylanavy-700 font-bold">

        <NavLink href="/" Class="float-left">
            <img class="h-8 w-8 mx-auto inline-block"
                 src="../images/LaylaCodesItLogo.png"
                 alt="LaylaCodesIt logo" />
            Home
        </NavLink>
    </div>

    <input class="menu-btn hidden" type="checkbox" id="menu-btn">
    <label class="menu-icon block cursor-pointer md:hidden px-2 py-4 relative select-none" for="menu-btn">
        <span class="navicon bg-grey-darkest flex items-center relative"></span>
    </label>

    <ul class="menu border-b md:border-none flex justify-end list-reset m-0 w-full md:w-auto">
        <li class="border-t md:border-none">
            <NavLink href="/about" Class="block md:inline-block px-4 py-3 no-underline text-laylanavy-700 capitalize hover:text-laylateal-600 active:font-bold">About</NavLink>
        </li>

        <li class="border-t md:border-none">
            <NavLink href="/streaming" Class="block md:inline-block px-4 py-3 no-underline text-laylanavy-700 capitalize hover:text-laylateal-600 active:text-laylanavy-800">Streaming</NavLink>
        </li>

        <li class="border-t md:border-none">
            <NavLink href="/speaking" Class="block md:inline-block px-4 py-3 no-underline text-laylanavy-700 capitalize hover:text-laylateal-600 active:text-laylanavy-800">Speaking</NavLink>
        </li>
        <li class="border-t md:border-none">
            <NavLink href="/community" Class="block md:inline-block px-4 py-3 no-underline text-laylanavy-700 capitalize hover:text-laylateal-600 active:text-laylanavy-800">Community</NavLink>
        </li>



    </ul>
</nav>