@*https://codepen.io/lukebennett88/pen/qQXzwp*@

<nav class="nav flex flex-wrap items-center justify-between px-4 font-decoserif">
    <div class="flex flex-no-shrink items-center mr-6 py-3 text-laylanavy font-bold">

        <NavLink href="/" Class="float-left font-bold hover:text-laylagold">
            <img class="h-8 w-8 mx-auto inline-block"
                 src="../images/LaylaCodesItLogo.png"
                 alt="LaylaCodesIt logo" />
            Home
        </NavLink>
    </div>

    <input class="menu-btn hidden" type="checkbox" id="menu-btn">
    <label class="menu-icon block cursor-pointer md:hidden px-2 py-4 relative select-none" for="menu-btn">
        <span class="navicon bg-grey-darkest flex items-center relative"></span>
    </label>

    <ul class="menu border-b md:border-none flex justify-end list-reset m-0 ">
        <li>
            <NavLink href="/about" Class="font-bold block md:inline-block px-4 py-3 no-underline text-laylanavy capitalize hover:text-laylagold active:font-bold">About</NavLink>
        </li>

        <li>
            <NavLink href="/streaming" Class="font-bold block md:inline-block px-4 py-3 no-underline text-laylanavy capitalize hover:text-laylagold active:text-laylanavy">Streaming</NavLink>
        </li>

        <li>
            <NavLink href="/appearances" Class="font-bold block md:inline-block px-4 py-3 no-underline text-laylanavy capitalize hover:text-laylagold active:text-laylanavy">Appearances</NavLink>
        </li>
        <li>
            <NavLink href="/community" Class="font-bold font-bold block md:inline-block px-4 py-3 no-underline text-laylanavy capitalize hover:text-laylagold " >Community</NavLink>
        </li>



    </ul>
</nav>